<ion-header>
  <button [class.active]="activeButton === 'Todos'" (click)="setActiveButton('Todos')">Todos</button>
  <button [class.active]="activeButton === 'Manha'" (click)="setActiveButton('Manha')">Manhã</button>
  <button [class.active]="activeButton === 'Tarde'" (click)="setActiveButton('Tarde')">Tarde</button>
  <div id="container-students-count" *ngIf="(renderingStudents$ | async) as students">
    <h3 id="students-count">{{students.length}} Alunos cadastrados</h3>
  </div>
  <app-search-student (searchStudent)="searchStudent($event.searshStudentForm)"></app-search-student>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button lines="full" *ngFor="let student of (renderingStudents$ | async)">
      <app-student-card (click)="selectStudent(student.id)" [name]="student.name" [school]="student.school" [payment]="student.monthlyPayment"
       [transportationType]="student.transportationType" [shift]="student.shift.toString()"></app-student-card>
    </ion-item>
  </ion-list>

  <button id="button-register-student" (click)="redirectRegisterStudent()">
    <ion-icon id="icon-register-student" name="link-outline"></ion-icon>
    Cadastrar Aluno
  </button>
</ion-content>