<ion-content [fullscreen]="true">
  <header>
    <button [class.active]="activeButton === 'todos'" (click)="setActiveButton('todos')">Todos</button>
    <button [class.active]="activeButton === 'manha'" (click)="setActiveButton('manha')">Manhã</button>
    <button [class.active]="activeButton === 'tarde'" (click)="setActiveButton('tarde')">Tarde</button>
  </header>
  <div id="container-students-count">
    <h3 id="students-count">{{students$.toPromise.length}} Alunos cadastrados</h3>
  </div>
  <ion-list>
    <ion-item button lines="full" *ngFor="let student of (students$ | async)">
      <app-student-card [name]="student.name" [payment]="student.monthlyPayment" [transportationType]="student.transportationType" [shift]="student.shift"></app-student-card>
    </ion-item>
  </ion-list>
</ion-content>
