<ion-content [fullscreen]="true">
  <header>
    <button [class.active]="activeButton === 'TODOS'" (click)="setActiveButton('TODOS')">Todos</button>
    <button [class.active]="activeButton === 'MANHA'" (click)="setActiveButton('MANHA')">Manhã</button>
    <button [class.active]="activeButton === 'TARDE'" (click)="setActiveButton('TARDE')">Tarde</button>
  </header>
  <div id="container-students-count" *ngIf="(renderingStudents$ | async) as students">
    <h3 id="students-count">{{students.length}} Alunos cadastrados</h3>
  </div>
  <ion-list>
    <ion-item button lines="full" *ngFor="let student of (renderingStudents$ | async)">
      <app-student-card (click)="selectStudent(student.id)" [name]="student.name" [payment]="student.monthlyPayment" [transportationType]="student.transportationType" [shift]="student.shift.toString()"></app-student-card>
    </ion-item>
  </ion-list>

  <button id="button-register-student" (click)="redirectRegisterStudent()">
    <ion-icon id="icon-register-student" name="link-outline"></ion-icon>
    Cadastrar Aluno
  </button>
</ion-content>
