ion-content {
  --background: #FFF;
}

ion-header {
  background-color: #F8F8F8;
  box-shadow: 0px 4px 8px 0px #0000000a;
}

ion-toolbar {
  --background: #ffffff00;
}

button {
  border: none;
  padding: 10px 10px;
  background-color: transparent;
  color: #262626;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.1s;
}

button.active {
  color: #FBBC04;
  border-bottom: 2px solid #FBBC04;
}

#container-students-count {
  width: 100vw;
  height: 30px;
  background-color: #262626;
  display: flex;
  align-items: center;
}

#students-count {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  color: #FFF;
  margin-left: 10px;
}

ion-item::part(native) {
  --background: #ffffff;
  padding: 0;
  width: 100vw;
  --border-color: #9b9b9b;
}

ion-list {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  margin-bottom: 55px;
}

#button-register-student {
  width: 140px;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-55%);
  z-index: 999;
  background-color: #F6AD09;
  color: #FFF;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

#icon-register-student {
  font-size: 18px;
}