
.payment-card {
  width: 100vw;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #D9D9D9;
  margin-top: 5px;
}

.title-card {
  color: #262626;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.details-payment {
  color: #505050;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.button-payment {
  padding: 8px;
  border-radius: 5px;
  background-color: #505050;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
}

#cancel-payment {
  background-color: transparent;
  border: 2px solid #ff7979;
  color: #ff7979;
}

#confirm-payment {
  background-color: transparent;
  border: 2px solid #F6AD09;
  color: #F6AD09;
}