#container {
  width: 100vw;
  display: flex;
  align-items: center;
  height: 45px;
  border-bottom: 1px solid #e9e9e9;
  background-color: #FFF;
} 

label {
  color: #262626;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

select {
  color: #262626;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #e9e9e9;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 75px;
  height: 30px;
}

input {
  width: 200px;
  background-color: #e9e9e9;
  border: none;
  border-radius: 5px;
  color: #262626;
  padding: 5px;
}

input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
  margin-left: 10px;
}