@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

#main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

#container {
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  padding: 55px;
  border-radius: 10px;
}

#form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px
}

#title-container {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 10px;
}

#aesthetic-detail-of-the-title {
  width: 5px;
  height: 30px;
  background-color: #FBBC04;
}


#title-login {
  color: #262626;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.ion-input-color {
  color: #262626
}

.ion-icon-color {
  color: #262626
}

.ion-input-color:focus {
  --ion-color-base: #F6AD09
}

.invalid-credentials-span {
  color: rgb(255, 127, 127);
}


#button-submit {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: #FBBC04;
  margin-top: 5px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

#button-submit:hover {
  cursor: pointer;
}

#spran-redirect-login {
  color: #262626;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

#link-redirect-login {
  color: #FBBC04;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.span-required-error {
  color: rgb(255, 127, 127);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

#container-input-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}