<div id="student-card">
  <div id="avatar">
    <p id="title-avatar">
      {{name[0]}}
    </p>
  </div>
  <div id="container-detail">
    <h2 id="student-name">{{name}}</h2>
    <h3 id="payment" lang="pt-BR" style="text-transform: capitalize;">R$ {{payment.toLocaleString('pt-BR', { minimumFractionDigits: 2 })}}</h3>
    <h3 id="transportationType">{{transportationType}}</h3>
  </div>
  <div id="container-shift">
    <ion-icon name="chevron-forward-sharp" aria-hidden="true"></ion-icon>
    <h3 id="shift">{{shift}}</h3>
  </div>
</div>
