<ion-content [fullscreen]="true" *ngIf="(student$ | async) as student">
  <div id="container-buttons-header">
    <button (click)="returnPage()" class="buttons-header">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </button>
  </div>
  <div id="container-student-name">
    <h1 id="student-name">{{student.name}}</h1>
  </div>
  <div id="container-payments" *ngFor="let payment of paymentsRender">
    <app-payment-card (cancelPaymentEmmiter)="cancelPayment($event.id)" (registerPaymentEmmiter)="registerPayment($event.month)" [month]="payment.paymentMonth" [paymentDate]="payment.paymentDate" [valuePayment]="payment.price" [id]="payment.id"></app-payment-card>
  </div>
</ion-content>